<div class="viewer min-vh-100 d-flex flex-column bg-light">

    <div class="text-center py-3 shadow-sm bg-white d-flex align-items-center justify-content-between px-4">
        <img src="./assets/darpan-logo.png" alt="Darpan Logo" height="36" class="my-1">
        <div class="d-flex align-items-center">
            <div class="me-2">
                <a class="btn btn-sm btn-outline-primary" (click)="generateShareableLink()">
                    <i class="fa fa-share"></i> <span class="button-text">{{shareButtonText}}</span>
                </a>
            </div>
            <div class="me-2">
                <input type="checkbox" id="darkModeToggle" class="btn-check" autocomplete="off"
                    (change)="toggleDarkMode()" [checked]="isDarkMode">
                <label class="btn btn-sm btn-outline-secondary" for="darkModeToggle">
                    <i class="fa" [ngClass]="isDarkMode ? 'fa-sun' : 'fa-moon'"></i>
                    <span class="button-text">{{ isDarkMode ? 'Light Mode' : 'Dark Mode' }}</span>
                </label>
            </div>
            <div>
                <a href="https://codiebe.com" target="_blank" class="btn btn-sm btn-outline-info">
                    <i class="fa fa-external-link me-1"></i> <span class="button-text">Visit Codiebe</span>
                </a>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-4 mb-2">
        <div class="row h-100">

            <div class="col-sm-6 p-0 px-1 bottom-margin">
                <div class="p-2 h-100 border-end border-2 bg-white editor-box">
                    <div class="d-flex">
                        <h5 class="me-auto">Input</h5>
                    </div>
                    <app-web-editor class="editor" [text]="inputText" [isDarkMode]="isDarkMode"
                        (textChange)="onTextChange($event)">
                    </app-web-editor>
                </div>
            </div>
            <div class="col-sm-6 p-0 px-1 bottom-margin">
                <div class="h-100 bg-white viewer-box">
                    <div class="p-2 h-100 border-end border-2 bg-white editor-box">
                        <div class="d-flex">
                            <h5 class="me-auto">Output</h5>
                        </div>
                        <app-web-editor class="editor" [text]="outputText" [isDarkMode]="isDarkMode"
                            [isJsonViewerMode]="true" [slug]="'viewer'">
                        </app-web-editor>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #shareLinkModal>
    <div class="modal-header">
        <h5 class="modal-title">🔗 Your Shareable Link</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modalRef?.hide()"></button>
    </div>

    <div class="modal-body">
        <p class="mb-2">Here’s a link you can share with anyone:</p>

        <div class="input-group clickable-input" (click)="copyToClipboard(shareableLink)">
            <input type="text" class="form-control" [value]="shareableLink" disabled readonly>
            <span class="input-group-text cursor-pointer" (click)="copyToClipboard(shareableLink)">📋 {{isLinkCopied ? 'Copied' : 'Copy'}}</span>
        </div>

        <small class="text-muted d-block mt-1">
            Tap on the copy icon to instantly copy the link.
        </small>

        @if (isLinkCopied) {
        <div class="text-success mt-2 fade-in">
            ✔️ Copied to clipboard!
        </div>
        }
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalRef?.hide()">Close</button>
    </div>

</ng-template>

<ng-template #copiedToClipboardTemplate>
    <div class="modal-body">
        <p>Link copied to clipboard!</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modalRef?.hide()">OK</button>
    </div>
</ng-template>