<div class="viewer min-vh-100 d-flex flex-column bg-light">

    <div class="text-center py-4 shadow-sm bg-white">
        <img src="./assets/darpan-logo.png" alt="Darpan Logo" height="55" class="my-3">

        <h2 class="fw-bold text-dark mb-2">Darpan JSON Viewer</h2>
        <p class="lead text-secondary">Paste, Explore, Understand JSON with ease</p>
    </div>

    <div class="container-fluid mt-2 mb-2">
        <div class="row h-100">

            <div class="col-6 p-0 px-1">
                <div class="p-2 h-100 border-end border-2 bg-white editor-box">
                    <h6 class="text-muted mb-2 ps-1">INPUT JSON</h6>
                    <app-web-editor class="editor" [text]="text" (textChange)="onTextChange($event)">
                    </app-web-editor>
                </div>
            </div>

            <div class="col-6 p-0 px-1">
                <div class="h-100 bg-white viewer-box">
                    <h6 class="mb-2 p-2 ps-3 bg-secondary text-white">JSON OUTPUT</h6>
                    <div class="p-2">
                        <ngx-json-viewer [json]="text" [expanded]="false"></ngx-json-viewer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>