<div class="viewer min-vh-100 d-flex flex-column bg-light">

    <div class="text-center py-4 shadow-sm bg-white d-flex flex-column align-items-center">
        <img src="./assets/darpan-logo.png" alt="Darpan Logo" height="55" class="my-3">
        <p class="lead text-secondary">Paste, explore, understand JSON with ease</p>
        <div class="d-flex align-items-center">
            <div class="me-2">
                <input type="checkbox" id="darkModeToggle" class="btn-check" autocomplete="off"
                    (change)="toggleDarkMode()" [checked]="isDarkMode">
                <label class="btn btn-sm btn-outline-secondary" for="darkModeToggle">
                    <i class="fa" [ngClass]="isDarkMode ? 'fa-sun' : 'fa-moon'"></i>
                    {{ isDarkMode ? 'Light Mode' : 'Dark Mode' }}
                </label>
            </div>
            <div>
                <a href="https://codiebe.com" target="_blank" class="btn btn-sm btn-outline-info">
                    <i class="fa fa-external-link me-1"></i> <span>Visit Codiebe</span>
                </a>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-2 mb-2">
        <div class="row h-100">

            <div class="col-sm-6 p-0 px-1 bottom-margin">
                <div class="p-2 h-100 border-end border-2 bg-white editor-box">
                    <div class="d-flex">
                        <h5 class="me-auto">Input</h5>
                    </div>
                    <app-web-editor class="editor" [text]="text" [isDarkMode]="isDarkMode"
                        (textChange)="onTextChange($event)">
                    </app-web-editor>
                </div>
            </div>
            <div class="col-sm-6 p-0 px-1 bottom-margin">
                <div class="h-100 bg-white viewer-box">
                    <div class="p-2 h-100 border-end border-2 bg-white editor-box">
                        <div class="d-flex">
                            <h5 class="me-auto">Output</h5>
                        </div>
                        <app-web-editor class="editor" [text]="text" [isDarkMode]="isDarkMode" [isJsonViewerMode]="true"
                            [slug]="'viewer'">
                        </app-web-editor>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>