#editor,
#viewer {
  flex: 1;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}

.viewer {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.viewer {
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
}

.editor-box,
.viewer-box {
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  overflow: hidden;
}

.editor {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

img {
  user-select: none;
}

.json-box {
  max-height: 400px;
  overflow-y: auto;
}

::ng-deep ngx-json-viewer {
  background-color: #eef4ff !important;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader-container {
  display: flex;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.loader-logo {
  width: 50px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-message {
  font-size: 1.2em;
  color: #333;
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .button-text {
    display: none;
  }

  .bottom-margin {
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 768px) {
  .button-text {
    display: inline;
    margin-left: 5px;
  }

  .bottom-margin {
    margin-bottom: 0;
  }
}